@import "tailwindcss";

:root {
  font-family: "Vazirmatn", Tahoma, sans-serif;
  color: var(--text-primary);
  background: var(--background);
  font-synthesis: none;
}

* {
  box-sizing: border-box;
}
html {
  direction: rtl;
  scroll-behavior: smooth;
}
body {
  margin: 0;

  background: var(--background);
}
html,
body,
#root {
  max-width: 100%;
}
body.drawer-open {
  overflow: hidden;
}
button,
input,
select,
textarea {
  font: inherit;
}
button {
  cursor: pointer;
}
button,
a {
  transition: 0.2s;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
